<h4> Search by City: </h4>
<%= form_tag(restaurants_path, method: :get) do %>
    <select name="search">
      <option value="">All</option>
      <% Restaurant.all.each.uniq do |rest| %>
        <option value="<%= rest.location %>"><%= rest.location %></option>
      <% end %>
    </select>
<%= submit_tag ("Search"), class: "btn btn-outline-secondary btn-sm" %>
<% end %>

 <div class="card mb-3" style=" height: 60px; border-color: #80c2c4">
    <div class="card-body">
      <h2 class="text-center"> Restaurants: </h2><br />
    </div>
</div>

<% @restaurants.each do |res| %> 
  <div class="card mb-3" style="width: 100%; height: 60px; background-color: #80c2c4">
    <div class="card-body text-center">
    <p class="card-text"><%= link_to "#{res.name.titleize}  |  #{res.location}  |  #{res.reviews.average(:stars)}", res %>&#9733</p>
    </div>
  </div>
<% end %><br />
   
<p class="text-center"><%= link_to "Add a New Restaurant", new_restaurant_path %></p>
