<% if @review.errors.any? %>
        <h5 class="error"><%= @review.errors.full_messages.to_sentence %></h5>
<% end %>

<%= form_with model: [@restaurant, @review], local: true do | r | %>
    <%= r.label :message, "Review:" %>
    <%= r.text_area :message %>
    
    <%= r.label :stars %>
    <%= r.number_field :stars, min: "0", max: "5"%> 

        <%= r.submit class: "btn btn-outline-secondary btn-sm" %>
<% end %>

