<% if @restaurant %>
    <h1><%= link_to @restaurant.name.titleize, restaurant_path(@restaurant) %>'s Reviews:</h1>
<% else %>
    <h1>Here Are The Reviews:</h1>
<% end %>

<option selected="">Stars</option>
<select name="restaurant[review_id]" id="restaurant_review_id">
        <% Review.all.uniq.each do |res| %>
        <option value="<%= res.id %>"><%= res.stars %></option>
    <% end %>
</select>

 <blockquote class="blockquote">
   <br /> <ul>
        <% @restaurant.reviews.each do |i| %>
            <div class="card text-white bg-dark mb-3" style="width: 90rem;">
                <div class="card-body">
                    <p class="card-text"> <%= i.message %> | <%= i.stars %> &#9733</p>
                     <footer class="blockquote-footer text-right"> <%= i.created_at.strftime("%b-%e-%Y")%> </footer><br /> 
                        <% if i.user.id == current_user.id %>
                        <h6> <%= link_to "Edit Review", edit_restaurant_review_path(@restaurant, i)%> | <%= link_to("Delete Review", @review, method: :delete, data:{confirm: "Do you really want to delete this?"}) %></h6>
                        <% end %>
                </div>
            </div>
        <% end %>
    </ul>
</blockquote>
<%= link_to "Back", :back %>
